
.active{

  color: #05a117;
  text-decoration: underline;
  font-weight: 800;
}

@theme {

  --color-primary-color: #05a117;
  --color-secondary-color:#222126;
  --color-primary-text:#fff;
  --color-secondary-text: #5f6160;
  --color-light: #fff;
  --button-rounded:'full';
  --border-radius: 30rem
}

.PhoneInput--focus{
  outline: 20px;
}

@import "tailwindcss";


@plugin "daisyui" 


