
.active{

  color: #05a117;
  text-decoration: underline;
  font-weight: 800;
}

@theme {

  --color-primary-color: #05a117;
  --color-secondary-color:#222126;
  --color-primary-text:#fff;
  --color-secondary-text: #5f6160;
  --color-light: #fff;
  --button-rounded:'full';
  --border-radius: 30rem;
  --color-role-admin: #d2ac69;  
  --color-role-buyer: #047857;   /* Deep Teal – Stability & Financial Intent */
  --color-role-worker: #B45309;  /* Burnt Orange – Energy & Productivity */
}

.PhoneInput--focus{
  outline: 20px;
}

@import "tailwindcss";


@plugin "daisyui" 


